#register-screen {
    background-color: rgb(79, 79, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
    align-items: center;
    justify-content: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    gap: 20px;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
}

.register-inp {
    font-family: myFont;
    background-color: var(--uno-yellow);
    color: var(--uno-yellow-font);
    font-size: 35px;
    min-width: 60%;
}

#title {
    font-family: 'myFont';
    font-size: 105px;
    font-weight: bold;
    color: var(--uno-red-font);
    margin: 5px;
}

#error-text {
    font-family: myFont;
    color: var(--uno-red);
    font-size: 22px;
    gap: 0px;
    margin: 5px;
}